<nav [ngClass]="setNavClass()">
    <div class="nav-wrapper row">
      <a href="#!" class="brand-logo">
        <img alt=""
          class="responsive-img left logo-img"
          src="./assets/treebo.png">
        DealsHub
      </a>
      <ul class="right">
        <li>
          <i
            class="material-icons left"
            (click)="toggle_search_bar()">
            search
          </i>
        </li>
      </ul>
    </div>
</nav>
<div class="row">
  <router-outlet></router-outlet>
</div>
